* {
  margin: 0;
  padding: 0;
  font-family: "Cabin";
}

body {
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

/* Navigation */

.header {
  background-color: #245d51;
}
.header-content {
  max-width: 1920px;
  margin: auto;
}

.navigation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8rem;
  height: 100%;
}

.navigation img {
  /* display: block; */
  width: 10rem;
}

.navigation .nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigation .nav-links a {
  color: #fff;
  text-decoration: none;

  font-size: 1.6rem;
  margin: 0 1.6rem;
  font-weight: 300;
}

.navigation .nav-links .active-link {
  color: #cb8461;
  padding-bottom: 3px;
  border-bottom: 3px solid #cb8461;
}

.navigation .nav-btns {
  color: #000;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.navigation .login-btn {
  background: none;
  color: #fff;
  margin-right: 0.5rem;
  width: 9.7rem;
  height: 5.5rem;
  border-radius: 0.8rem;
}

.navigation .login-btn:hover {
  background: rgba(242, 231, 219, 0.3);
}

.navigation .signup-btn {
  width: 9.7rem;
  height: 5.5rem;
  color: #fff;
  background: rgba(242, 231, 219, 0.4);
  border-radius: 0.8rem;
}

.navigation .signup-btn:hover {
  background: rgba(242, 231, 219, 0.3);
}

.navigation .nav-btns-section {
  display: flex;
  align-items: center;
}
.navigation .menu-icon {
  font-size: 2.75rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.navigation .close-icon {
  font-size: 3.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* ///Navigation */

/* ---------------------------------------------------------------------------- */

/* Hero Section*/

.hero-section {
  background-color: #245d51;
  color: #fff;
}
.hero-section-content {
  max-width: 1920px;
  margin: auto;
  display: flex;
}

.hero-section-content .left-part {
  padding: 8rem 0 0rem 8rem;
  width: 50%;
}
.hero-section-content .right-part {
  width: 50%;
}

.hero-section-content .top-box {
  font-size: 1.4rem;
  background: rgba(242, 231, 219, 0.5);
  border-radius: 35px;
  padding: 1rem 1.5rem 1rem 0.8rem;
}

.hero-section-content .top-box span {
  background-color: #cb8461;
  padding: 0.5rem 1.4rem;
  border-radius: 35px;
  margin-right: 0.8rem;
}

.hero-section-content h1 {
  font-size: 6.8rem;
  margin-top: 2.4rem;
  width: 65rem;
}

.hero-section-content p {
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff65;
  width: 60rem;
  margin-top: 2rem;
}

.hero-section-content .herosec-btns {
  margin-top: 6rem;
  display: flex;
}

.hero-section-content .started-btn {
  width: 14.5rem;
  height: 5.5rem;
  background-color: #cb8461;
  border: none;
  border-radius: 0.8rem;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 3rem;
}

.hero-section-content .started-btn:hover {
  background-color: #ca8d6e;
}

.hero-section-content .learn-btn {
  border: none;
  background: none;
  border-radius: 0.8rem;
  color: #fff;
  font-size: 1.6rem;
  width: 17.5rem;
  cursor: pointer;
}

.hero-section-content .learn-btn i {
  background-color: #fff;
  color: #000;
  font-size: 2rem;
  padding: 1.6rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}

.hero-section-content .learn-btn:hover {
  background: rgba(242, 231, 219, 0.3);
}

.hero-section-content .learn-btn:hover i {
  background: none;
  color: #fff;
}

.hero-section-content .right-part {
  display: flex;
  justify-content: center;
}

.hero-section-content .right-part img {
  width: 55rem;
  position: relative;
  left: -5rem;
}

/* ///Hero Section*/

/* ---------------------------------------------------------------------------- */

/* ///Brands Section*/

.brandsSection {
  background: linear-gradient(180deg, #245d51 50%, #ffffff 50.1%);

  /* margin-bottom: 1000px; */
}

.brandsContainer {
  max-width: 1920px;
  margin: auto;
}

.brandsContainer .container {
  margin: 0 10rem;
  background-color: #fff;
  box-shadow: 2px 30px 50px rgba(36, 93, 81, 0.06);
  border-radius: 1.2rem;
  padding: 4.5rem 6rem;
}

.brandsContainer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandsContainer .top .left {
  display: flex;
  flex-direction: column;
}

.brandsContainer .top .left img {
  width: 10rem;
}
.brandsContainer .top .left span {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #2c2c2c50;
}

.brandsContainer .top .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.brandsContainer .top .right img {
  width: 12rem;
}

.brandsContainer .top .right span {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #2c2c2c50;
}

.brandsContainer .bottom .brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.brandsContainer .bottom .brands .brand {
  width: 15.5rem;
}

/* ///Brands Section*/

/* ---------------------------------------------------------------------------- */

/* Explore Section*/

.explore-section {
  max-width: 1920px;
  margin: auto;
  padding: 4rem 8rem;
  margin-top: 5rem;
}

.explore-section .explore-container {
  display: flex;
}

.explore-section .explore-container .left {
  width: 50%;
  text-align: center;
}

.explore-section .explore-container .right {
  width: 50%;
}

.explore-section .explore-container .left img {
  width: 42rem;
}

.explore-section .explore-container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
}

.explore-section .explore-container .right .heading {
  color: #2c2c2c;
  font-size: 4.4rem;
  margin-bottom: 1.8rem;
}

.explore-section .explore-container .right .text {
  color: #2c2c2c75;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.explore-section .explore-container .right .features {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.explore-section .explore-container .right .features .feature {
  display: flex;
  align-items: center;
  flex-basis: calc(50% - 10px);
  margin-bottom: 1.8rem;
}

.explore-section .explore-container .right .features .feature h4 {
  font-size: 1.85rem;
  font-weight: 300;
  margin-left: 1.5rem;
}

.explore-section .explore-container .right .features .feature .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #cb846120;
}

.explore-section .explore-container .right .features .feature .icon img {
  width: 2rem;
}

.explore-section .explore-container .right button {
  background-color: #14463a;
  border: none;
  color: #fff;
  width: 17rem;
  height: 5.5rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.explore-section .explore-container .right button:hover {
  background-color: #347366;
}

/* ///Explore Section*/

/* ---------------------------------------------------------------------------- */

/* Courses Section*/

.courses-section {
  max-width: 1920px;
  margin: auto;
  /* padding: 4rem 0 4rem 8rem; */
  margin-top: 5rem;
}

.courses-section .courses-container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 4rem; */
  /* padding-right: 8rem; */
  padding: 4rem 8rem 0rem 8rem;
}

.courses-section .courses-container .top h1 {
  font-size: 4.4rem;
  color: #2c2c2c;
}

.courses-section .courses-container .top .buttons button {
  width: 5.4rem;
  height: 5.4rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.courses-section .courses-container .top .buttons .left-button {
  background-color: #f3f3f3;
  margin-right: 1.25rem;
}

.courses-section .courses-container .top .buttons .left-button:hover {
  background-color: #e3e3e3;
}

.courses-section .courses-container .top .buttons .right-button {
  background-color: #cb8461;
  color: #fff;
  box-shadow: 0px 10px 40px rgba(198, 131, 98, 0.4);
}

.courses-section .courses-container .top .buttons .right-button:hover {
  background-color: rgb(176, 114, 83);
}

.courses-section .courses-container .top .buttons button i {
  font-size: 2.2rem;
}

.courses-section .courses-container .bottom .course-slider .card {
  background-color: #fff;
  box-shadow: 0px 7px 45px rgba(36, 93, 81, 0.07);
  display: flex;
  padding: 2rem 2rem 4rem 2rem;
  justify-content: center;
  border-radius: 1.2rem;
  transition: 0.7s ease;
}

.courses-section .courses-container .bottom .course-slider .card:hover {
  box-shadow: 0px 0px 50px rgba(36, 93, 81, 0.25);
  z-index: 10;
  transform: scale(1.04);
}

.courses-section .courses-container .bottom .course-slider .card .card-image {
  width: 30rem;
}

.courses-section .courses-container .bottom .course-slider .card .card-data {
  margin-top: 2rem;
}

.courses-section .bottom .course-slider .card .card-data .line1,
.courses-section .bottom .course-slider .card .card-data .line2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.courses-section .bottom .course-slider .card .card-data .line1 h1 {
  font-size: 2rem;
  color: #2c2c2c;
}

.courses-section .bottom .course-slider .card .card-data .line1 img {
  width: 10rem;
}

.courses-section .bottom .course-slider .card .card-data .line2 h3 {
  font-size: 2.6rem;
  color: #cb8461;
}

.courses-section .bottom .course-slider .card .card-data .line2 button {
  background-color: #245d51;
  color: #fff;
  width: 10rem;
  height: 4rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.courses-section .bottom .course-slider .card .card-data .line2 button:hover {
  background-color: #14463a;
}

.courses-section .bottom .course-slider .card .card-data .line3 {
  display: flex;
  align-items: center;
}

.courses-section .bottom .course-slider .card .card-data .line3 .icon {
  width: 3.8rem;
  height: 3.8rem;
  background-color: rgba(36, 93, 81, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.courses-section .bottom .course-slider .card .card-data .line3 .icon img {
  width: 1.5rem;
}

.courses-section .bottom .course-slider .card .card-data .line3 h3 {
  font-size: 1.6rem;
  color: #245d51;
  font-weight: 300;
  margin-left: 1.5rem;
  overflow: hidden;
}

.courses-section .bottom .course-slider-container {
  width: 100%;
  overflow: hidden;
  padding: 5rem 0 5rem 8rem;
}

.courses-section .bottom .course-slider {
  display: flex;
  gap: 3rem;
  width: 100%;
}

/* ///Courses Section*/

/* ---------------------------------------------------------------------------- */

/* Media Queries*/

@media (min-width: 1441px) {
  html {
    font-size: 11.75px;
  }
}

@media (min-width: 810px) and (max-width: 1100px) {
  html {
    font-size: 7.5px;
  }
  .hero-section-content h1 {
    margin-top: 3rem;
    width: 100%;
  }

  .hero-section-content p {
    width: 85%;
    margin-top: 4rem;
  }
  .hero-section-content .herosec-btns {
    margin-top: 4rem;
  }

  .hero-section-content .right-part img {
    margin-top: 4.5rem;
    width: 100%;
    position: relative;
    left: -5rem;
  }
}

@media (min-width: 660px) and (max-width: 810px) {
  html {
    font-size: 6px;
  }
}

@media (min-width: 481px) and (max-width: 660px) {
  html {
    font-size: 6.2px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 6px;
  }
}

@media (min-width: 810px) and (max-width: 1100px) {
  .hero-section-content h1 {
    margin-top: 3rem;
    width: 100%;
  }

  .hero-section-content p {
    width: 85%;
    margin-top: 4rem;
  }
  .hero-section-content .herosec-btns {
    margin-top: 4rem;
  }

  .hero-section-content .right-part img {
    margin-top: 4.5rem;
    width: 100%;
    position: relative;
    left: -5rem;
  }
  .brandsContainer .top .left img {
    width: 12rem;
  }
  .brandsContainer .top .left span {
    width: 100%;
  }

  .brandsContainer .top .right img {
    width: 16rem;
  }

  .brandsContainer .top .right span {
    width: 100%;
  }

  .brandsContainer .bottom .brands {
    flex-wrap: wrap;
    margin-top: 6rem;
  }

  .brandsContainer .bottom .brand-box .brand {
    width: 13.5rem;
  }
}

@media (min-width: 660px) and (max-width: 810px) {
  .hero-section-content h1 {
    margin-top: 3.2rem;
    width: 100%;
  }

  .hero-section-content p {
    width: 85%;
    margin-top: 4rem;
  }

  .hero-section-content .right-part img {
    margin-top: 4.5rem;
    width: 100%;
    position: relative;
    left: -5rem;
  }

  .brandsContainer .top .left img {
    width: 11rem;
  }
  .brandsContainer .top .left span {
    width: 100%;
  }

  .brandsContainer .top .right img {
    width: 15rem;
  }

  .brandsContainer .top .right span {
    width: 100%;
  }

  .brandsContainer .bottom .brands {
    flex-wrap: wrap;
    margin-top: 6rem;
  }

  .brandsContainer .bottom .brand-box .brand {
    width: 15rem;
  }
}

@media (min-width: 0) and (max-width: 660px) {
  .navigation .menu-icon,
  .navigation .close-icon {
    display: block;
    position: absolute;
    top: 4rem;
    right: 5rem;
  }

  .header {
    position: absolute;
    z-index: 100;
    background-color: rgba(36, 93, 81, 0.975);
  }
  .header .header-content {
    width: 100vw;
  }

  .navigation {
    height: 100%;
  }
  .navigation .navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 4rem 5rem;
    gap: 40px;
    height: 100vh;
  }

  .navigation .navigation-content .nav-links {
    position: relative;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navigation .navigation-content .hide {
    display: none;
    height: 100%;
  }

  .navigation .setHeight {
    height: 100%;
  }

  .navigation .navigation-content .nav-links a {
    font-size: 2.6rem;
  }

  .navigation .navigation-content .nav-btns-section {
    margin: 0 auto;
    font-size: 3rem;
    margin-bottom: 28vh;
  }

  .navigation .navigation-content .nav-btns-section button {
    margin: 0 4rem;
    font-size: 2.6rem;
    width: 16rem;
    height: 8rem;
  }

  /* Hero Section*/

  .hero-section {
    padding-top: 13rem;
    overflow: hidden;
  }

  .hero-section-content {
    display: flex;
    flex-direction: column;
  }

  .hero-section-content .left-part {
    padding: 8rem 0 0rem 5rem;
    width: 100%;
  }
  .hero-section-content .right-part {
    width: 100%;
  }

  .hero-section-content .top-box {
    font-size: 1.85rem;
  }

  .hero-section-content h1 {
    font-size: 7.5rem;
    width: 77vw;
  }

  .hero-section-content p {
    font-size: 2.2rem;
    width: 77vw;
    margin-top: 4rem;
  }

  .hero-section-content .herosec-btns {
    margin-bottom: 8rem;
  }

  .hero-section-content .herosec-btns button {
    font-size: 2.5rem;
  }

  .hero-section-content .started-btn {
    width: 21rem;
    height: 7rem;
    border-radius: 1rem;
    margin-right: 2.2rem;
  }

  .hero-section-content .learn-btn {
    border: none;
    border-radius: 0.8rem;
    width: 22rem;
  }

  .hero-section-content .learn-btn i {
    font-size: 3rem;
    padding: 1.6rem;
  }

  .hero-section-content .right-part {
    display: flex;
    justify-content: center;
  }

  .hero-section-content .right-part img {
    width: 65vw;
    position: static;
  }

  /* ///Hero Section*/

  .brandsContainer .container {
    margin: 0 5rem;
    padding: 4.5rem 4rem;
    overflow-x: hidden;
  }

  .brandsContainer .top .left img {
    width: 11rem;
  }
  .brandsContainer .top .left span {
    font-size: 2.2rem;
    width: 86%;
  }

  .brandsContainer .top .right img {
    width: 15rem;
  }

  .brandsContainer .top .right span {
    font-size: 2.2rem;
    width: 86%;
    text-align: right;
  }

  .brandsContainer .bottom .brands {
    flex-wrap: wrap;
    margin-top: 6rem;
  }

  .brandsContainer .bottom .brands .brand-box {
    width: calc(50% - 10px); /* Each item takes up 50% minus some gap */
    margin-bottom: 7rem;
    text-align: center;
  }

  .brandsContainer .bottom .brands .brand5-box {
    width: 100%; /* Make item5 take full width */
    text-align: center; /* Center-align the text in item5 */
  }

  .brandsContainer .bottom .brand-box .brand {
    width: 19rem;
  }

  .explore-section {
    padding: 4rem 5rem;
  }

  .explore-section .explore-container .left {
    display: none;
  }

  .explore-section .explore-container .right {
    width: 100%;
  }

  .explore-section .explore-container .right {
    padding-left: 0;
  }

  .explore-section .explore-container .right .heading {
    font-size: 5.1rem;
  }

  .explore-section .explore-container .right .text {
    font-size: 2rem;
  }

  .explore-section .explore-container .right .features .feature h4 {
    font-size: 2.2rem;
  }

  .explore-section .explore-container .right .features .feature .icon {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background-color: #cb846120;
  }

  .explore-section .explore-container .right .features .feature .icon img {
    width: 2.6rem;
  }

  .explore-section .explore-container .right button {
    width: 22rem;
    height: 7rem;
    border-radius: rem;
    font-size: 2rem;
  }
}
/* /// Media Queries*/
